data/*
!data/*.py
!data/train/phisicsTigulOnlyWords/
!data/train/phisicsTigulOnlyWords/**
output/
*.pth
*.pt
*.ckpt
*.zip
*.log
__pycache__/
*.pyc
tools/segmentation/**/*.pid
.ipynb_checkpoints/
.venv/
hebrew_letter_statistics.xlsx
hebrew_letter_statistics.*.csv
